<div class="container-ay">
    <div class="toprow align-items-center justify-content-center">
        <div class="col d-block d-sm-none"></div>
        <div class="w-100 d-block d-sm-none"></div>
        <div class="col col-md-3">
            <div class="container-title">
                <div class="info">
                    <h1>WeWin</h1><span>Happy Learning</span>
                </div>
                <div class="thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Font_Awesome_5_solid_user-graduate.svg" /></div>
            </div>
        </div>
        <div class="w-100 d-block d-sm-none"></div>
        <div class="col col-md-5">
            <!-- <alert></alert> -->
            <div class="form">
                <form [formGroup]="loginForm" class="login-form">
                    <alert></alert>
                    <div>
                        <input required type="text" formControlName="username" placeholder="Username" />
                    </div>
                    <div>
                        <input required type="password" formControlName="password" placeholder="Password" />
                    </div>
                    <button (click)="onSubmit()">Login</button>
                    <p class="message">Not registered? <a [routerLink]="['/register']">Create an account</a></p>
                </form>
            </div>
        </div>
        <div class="w-100 d-block d-sm-none"></div>
        <div class="col d-block d-sm-none"></div>
    </div>
</div>



<!-- 
                    <mat-error *ngFor="let validation of lem.username">
                        <mat-error class="error-message" *ngIf="showErrorMsgIf('username', validation.type)">
                            {{validation.message}}</mat-error>
                    </mat-error>
                    <mat-error *ngFor="let validation of lem.password">
                        <mat-error class="error-message" *ngIf="showErrorMsgIf('password', validation.type)">
                            {{validation.message}}</mat-error>
                    </mat-error> -->

