<div class="container">

<!-- Topbar / Header -->
<app-ay-head *ngIf="showHead"></app-ay-head>
<!-- End of Topbar / Header -->

<!-- Begin Page Content / Body -->
<router-outlet></router-outlet>
<!-- End Page Content / Body -->

<!-- Footer -->
<app-ay-foot *ngIf="showFoot"></app-ay-foot>
<!-- End of Footer -->

</div>

<!--
<div class="container-fluid text-center" style="height: 100%">
    <div class="row content">
        <div class="col-sm-2 sidenav"> -->
            <!-- Side Bar / Leftnav -->
            <!-- <app-ay-left *ngIf="showLeft"></app-ay-left> -->
            <!-- End of Side Bar / Leftnav -->
        <!-- </div>
        <div class="col-sm-10 text-left"> -->
        <!-- </div>
    </div>
</div>
-->

