<div>
    <mat-card style="width:100%; height:100%;">
        <mat-card-header>
            <div mat-card-avatar style="background-image: url('assets/img/user-graduate-120.png'); background-size: cover;"></div>
            <mat-card-title>We Win</mat-card-title>
            <mat-card-subtitle>Happy Learning</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                This application is dedicated for Students  
            </p>
            <p>
                {{myToken}}
            </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>
