/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.color-ay-delete {
    color: #c80000 ;
}

.color-ay-edit {
    color: #0011ff ;
}

.color-ay-success {
    color: rgb(13, 214, 13) ;
}

.color-ay-add {
    color: green ;
}